<% content_for :info_class, "active" %>
<h1>Introduce Yourself</h1>
<p>
    <article>
        <b>My name: </b>
        <p>Bui Thi Hieu</p>
        
        <p>I come from Ha Tinh, Viet Nam.</p>
    </article>
</p>
